@include font-face(fontawesome-webfont);

body {
  background-color: #ccc;
}

.iphone {
  background-color: #FFF;
  width: 375px;
  display: block;
  height: 667px;
  margin: 20px auto;
  overflow: auto;
}
.content {
    height: 647px;
    margin-top: 20px;
    padding: 24px;
}

header.status {
    background-image: url("../images/status.png");
    width: 375px;
    height: 20px;
    background-size: 375px 20px;
    position: fixed;
}