@include font-face(fontawesome-webfont);
@include font-face(Graphik-Semibold-Web);
@include font-face(Graphik-Regular-Web);

$font-title: Graphik-Semibold-Web;
$font-text: Graphik-Regular-Web;

body {
  background-color: #ccc;
  font-family: $font-text;
}

.iphone {
  background-color: #FFF;
  width: 375px;
  display: block;
  height: 667px;
  margin: 20px auto;
  overflow: auto;
}
.content {
    height: 647px;
    margin-top: 20px;
}
h1, h2, h3, h4, .btn, button {
    font-family: $font-title;
    margin-top: 0;
}
.btn, button {
    color: white;
    padding: 10px 20px;
    background-color: $color-accent;
    border: none;
    @include radius(normal, 0);
    font-weight: regular !important;
    @include transition;
    text-transform: uppercase;
    &:hover {
        background-color: darken($color-accent, 10%);
        color: white;
    }
}

header.status {
    background-image: url("../images/status.png");
    width: 375px;
    height: 20px;
    background-size: 375px 20px;
    position: fixed;
}

.line {
    height: 2px;
    width: 50px;
    margin: 30px 0;
    text-align: left;
    background-color: #FFF;
}

li.intro {
    background-image: url("../images/intro.png");
    color: white;
    height: 600px;
    background-size: cover;
    p {
        line-height: 25px;
    }
    h1.logo {
        font-family: #font-title;
        text-transform: uppercase;
        padding-top: 50px;
    }
}
.flexslider {
    header {
        padding: 24px;
        padding-bottom: 0;
    }
    .question {
        padding: 24px;
        padding-top: 0;
    }
}